* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.topBar,
.bottomBar {
    position: fixed;
    width: 100%;
    display: block;
}

.topbar {
    top: 0;
}

.bottomBar {
    bottom: 0;
}

.progressBar {
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    text-align: center;
}

/* h1 {
    font-size: 2rem;
    margin-top: 1.5rem;
    color: orange;
    text-align: center;
} */

/* .vr-button {
    padding: 10px;
    border-radius: 100%;
    background-color: #45bccb;
    color: white;
    position: fixed;
    left: 5%;
    top: 5%;
    font-size: 1rem;
    border: none;
}
.vr-button:hover {
    cursor: pointer;
} */

.infospot {
    border-radius: black;
    background-color: white;
    max-width: 300px;
    color: black;
    padding: 15px;
    overflow: hidden;
}

.infospot .title {
    color: black;
}

.title {
    font-size: 2rem;
    color: white;
}

.text {
    font-size: 1rem;
    color: white;
}

/* panorama */
/* .pan{
    width: 100vw;
    height: 100vh;
} */

:root {
    --header-min-height: 5vh;
    --subtle-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.2);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: var(--header-min-height);
    padding-left: 1rem;
    padding-right: 1rem;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}

.header__buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__title {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    color: #ffa500;
    padding: 1rem;
    flex-basis: 75%;
}

.button {
    border: none;
    padding: 1rem;
    border-radius: 100%;
    background-color: #45bccb;
    color: #fff;
    font-size: 1rem;
}

.button:hover {
    cursor: pointer;
}

.pan {
    width: 100vw;
    height: 100vh;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    padding-bottom: 0.75rem;
}

.footer__container {
    max-width: 36rem;
    margin: 0 auto;
}

.progress {
    border: 0.2rem solid #fff;
    border-radius: 1rem;
    padding: 0.25rem;
    height: 2rem;
}

.progress__bar {
    background-color: #45bccb;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;
    height: 100%;
}

/* Infospot Styling Rules */
.infospot {
    background-color: #fff;
    padding: 1rem;
    box-shadow: var(--subtle-shadow);
}

.infospot__title {
    color: #ffa500;
}

.infospot__content {
    color: #45bccb;
}

/* Achievements Styling Rules */
.achievements {
    opacity: 0;
    display: none;
    width: 36rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: #fff;
    box-shadow: var(--subtle-shadow);
    transition: opacity 0.2s ease-in-out;
    user-select: none;
}

.achievements--open {
    display: block;
    opacity: 1;
    user-select: all;
}

.achievements__title {
    margin-bottom: 0.25rem;
}

.achievements__list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.achievements__achievement {
    border: 0.1rem solid #45bccb;
    padding: 0.5rem;
}

.achievements__achievement--unlocked {
    background-color: #45bccb;
}

.achievements__achievement__title {
    margin-bottom: 0.25rem;
}

.achievements__achievement__text {
    font-style: italic;
}

.achievements__achievement__text::before {
    content: open-quote;
}

.achievements__achievement__text::after {
    content: close-quote;
}

/* Achievement Pop-up Rules */
.achievement {
    display: block;
    width: 36rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background-color: #fff;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.achievement--unlocked {
    transform: translateX(-50%) translateY(0);
}

.achievement__title {
    text-align: center;
    padding: 1rem 0;
}
