* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.topBar, .bottomBar{
    position: fixed;
    width: 100%;
    display: block;
}

.topbar {
    top: 0;
}

.bottomBar {
    bottom: 0;
}

h1{
    font-size: 2rem;
    margin-top: 1.5rem;
    color: orange;
    text-align: center;
}
.vr-button{
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
}
.vr-button:hover{
    cursor: pointer;
}

#infospot{
    
}

.title{
    font-size: 2rem;
    color: white;
}

.text{
    font-size: 1rem;
    color: white;
}


/* panorama */
.pan{
    width: 100vw;
    height: 100vh;
}