* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

.topBar, .bottomBar{
    position: fixed;
    width: 100%;
    display: block;
}

.topbar {
    top: 0;
}

.bottomBar {
    bottom: 0;
}

.progressBar {
    max-width: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 10px 10px 0 0;
    background-color: white;
    text-align: center;
}

h1{
    font-size: 2rem;
    margin-top: 1.5rem;
    color: orange;
    text-align: center;
}
.vr-button{
    padding: 10px;
    border-radius: 100%;
    background-color: #45bccb;
    color: white;
    position: fixed;
    left: 5%;
    top: 5%;
    font-size: 1rem;
    border: none;
}
.vr-button:hover{
    cursor: pointer;
}

.infospot{
    border-radius: black;
    background-color: white;
    max-width: 300px;
    color: black;
    padding: 15px;
    overflow: hidden;
}
    
.infospot .title {
    color: black;
}

.title{
    font-size: 2rem;
    color: white;
}

.text{
    font-size: 1rem;
    color: white;
}


/* panorama */
.pan{
    width: 100vw;
    height: 100vh;
}