* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

h1{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    margin-top: 1.5rem;
    color: orange;
}
.vr-button{
    position: fixed;
    top: 0;
    left: 10%;
    transform: translate(-50%, -50%);
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
}
.vr-button:hover{
    cursor: pointer;
}

#infospot{
    
}

.title{
    font-size: 2rem;
    color: white;
}

.text{
    font-size: 1rem;
    color: white;
}


/* panorama */
.pan{
    width: 100vw;
    height: 100vh;
}